/* Created by: Ryan-Shaw-2
* Created on: Apr 2021
* This CSS file defines the style for index2.html ICS2O-Unit1-03-HTML-CSS
*/

body {
  background-color: rgb(102, 120, 228);
}

#favicon-header {
  background-color: rgb(3, 20, 252);
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  padding: 30px;
  text-align: center;
}

#hello-world {
  background-color: #fcbe03;
  color: rgb(201, 14, 14);
  font-family: serif;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 200px;
}
